<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>
<div id="container">
    <h2>{{ message }}</h2>
    <div>
        <div class="form-group">
            <label>用户名</label>
            <input type="text" class="form-control" v-model="userName"/>
        </div>
        <div class="form-group">
            <label>密码</label>

            <input type="password" class="form-control" placeholder="Password" v-model="password"/>
        </div>
        <button type="button" class="btn btn-default" v-on:click="login">登录</button>
        <input type="text" class="form-control" v-model="user.type"/>
        <label>{{user.type}}</label>
        <label>{{user.orgId}}</label>
        <label>{{user.trueName}}</label>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./CommonUtil.js"></script>
<!--登录，获取用户id和组织机构id放到cookie-->
<script>
    var app = new Vue({
        el: '#container',
        data: {
            message: '欢迎!',
            userName: "",
            password: "",
            user: {
                type:"",
                orgId:"",
                trueName:""
            }
        },
        methods: {
            login: function () {
                axios.post('/user/login', {
                    trueName: this.userName,
                    password: this.password,
                })
                    .then(function (response) {

                        if(response.data!=="")
                        {
                            alert("登录成功");
                            this.user = response.data;
                            setCookie("userId",this.user.id);
                            setCookie("orgId",this.user.orgId);
                            setCookie("type",this.user.type);
                            self.location='index.html';
                        }else
                        {
                            alert("登录失败");

                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>
</body>

</html>