<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="app">
    <h1>{{userName}}周报</h1>
    <div>
        <h2>考勤信息</h2>
        <li>请假情况</li>
        <input v-model="offWorkInfo" placeholder="请添加">
        <li>加班情况</li>
        <input v-model="overtimeInfo" placeholder="请添加">
        <li>出差情况</li>
        <input v-model="businessOutInfo" placeholder="请添加">
    </div>
    <div>
        <h2>项目信息</h2>
        <li>参加项目,角色,投入比例</li>
        <li>多个项目用英文分号隔开</li>
        <input v-model="projectInfo" placeholder="">
    </div>
    <div>
        <h2>任务信息</h2>
        <li>本周工作完成情况</li>
        <textarea v-model="doneInfo" placeholder="请添加"></textarea>
        <li>下周工作计划</li>
        <textarea v-model="planInfo" placeholder="请添加"></textarea>
        <li>风险及问题</li>
        <textarea v-model="problemInfo" placeholder="请添加"></textarea>
    </div>
    <button v-on:click="submit()">提交</button>
    <li>提交状态</li>
    <label>{{reportStatus}}</label>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            userName:'',
            offWorkInfo: '',
            overtimeInfo: '',
            businessOutInfo: '',
            doneInfo: '',
            planInfo: '',
            problemInfo: '',
            projectInfo: '',
            reportStatus:''
        },
        methods: {
            submit: function () {
                axios.post('/week_report', {
                    userId:1,
                    offWorkInfo: this.offWorkInfo,
                    overtimeInfo: this.overtimeInfo,
                    businessOutInfo: this.businessOutInfo,
                    doneInfo: this.doneInfo,
                    planInfo: this.planInfo,
                    problemInfo: this.problemInfo,
                    projectInfo: this.projectInfo,
                })
                    .then(function (response) {
                        this.reportStatus=response;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>
</body>
</html>