<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014-2016 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zw.se2.self.mapper.WeekReportMapper">
    <resultMap type="com.zw.se2.self.model.WeekReport" id="weekReportMap">
        <id property="id" column="uid" />
        <result property="offWorkInfo" column="offWorkInfo" />
        <result property="overtimeInfo" column="overtimeInfo" />
        <result property="businessOutInfo" column="businessOutInfo" />
        <collection  property="planWorkItems"  resultMap="planResult"/>
        <collection  property="doneWorkItems"  resultMap="doneResult"/>
    </resultMap>
    <resultMap type="com.zw.se2.self.model.WorkItem" id="planResult">
        <id property="id" column="wid" />
        <result property="content" column="content" />
    </resultMap>
    <resultMap type="com.zw.se2.self.model.WorkItem" id="doneResult">
        <id property="id" column="wid" />
        <result property="content" column="content" />
        <result property="status" column="status" />
        <result property="remark" column="remark" />
    </resultMap>
    <select id="findByUserId" resultMap="weekReportMap">
        select
            *
        from
            project p,
            project_target pt,
            project_project_target ppt,
            project_user pu,
            user u
        WHERE p.pid=ppt.projectid and ppt.targetid=pt.ptid
    </select>
</mapper>